# Tarea 1 Bases de Datos 2022-1 Grupo 24

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Bastian Aceiton - 201810020-K
* Nombre Integrante 2 - Rol-2
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [4]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:PEG9265@localhost:5432/DBT1

env: DATABASE_URL=postgresql://postgres:PEG9265@localhost:5432/DBT1

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [10]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='DBT1',
   password="PEG9265"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000024C08166CE0; dsn: 'user=postgres password=xxx dbname=DBT1 host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [3]:
%%sql
CREATE TABLE Usuarios (
    ID_usuario INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
);

Done.

[]

### Tabla "Creadores"

In [4]:
%%sql
CREATE TABLE Creadores (
    ID_creador INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR(45),
    PRIMARY KEY (ID_creador)
);

 * postgresql://postgres:***@localhost:5432/DBT1
Done.

[]

### Tabla "Tipos_NTF"

In [5]:
%%sql
CREATE TABLE Tipos_NFT (
    ID_tipo INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/DBT1
Done.

[]

### Tabla "NFT"

In [6]:
%%sql
CREATE TABLE NFT (
    ID_nft INTEGER GENERATED BY DEFAULT AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (id_tipo) REFERENCES Tipos_NFT (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/DBT1
Done.

[]

### Tabla "Precio NFT"

In [7]:
%%sql
CREATE TABLE Precio_NFT (
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INT NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/DBT1
Done.

[]

### Tabla "Usuario tiene NFT"

In [8]:
%%sql
CREATE TABLE Usuario_tiene_NFT (
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario, id_nft),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (id_nft) REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/DBT1
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [11]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |
| ...| ...          |

**Solución:** _Escriba aquí la descripción de su solución._

In [4]:
%%sql
SELECT 
    id_creador AS ID, nombre AS Creador
FROM
    Creadores
WHERE 
    popularidad = (SELECT MAX(popularidad) FROM Creadores WHERE Estilo = 'Arte Moderno') AND Estilo = 'Arte Moderno';

 * postgresql://postgres:***@localhost:5432/DBT1
1 rows affected.

[(10, 'Paula')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [13]:
%%sql
SELECT
    NFT.nombre AS "NFT", COUNT(Precio_NFT.precio) AS "Cantidad de precios"
FROM
    NFT INNER JOIN Precio_NFT
ON
    NFT.ID_nft = Precio_NFT.ID_nft
GROUP BY
    NFT.nombre;

 * postgresql://postgres:***@localhost:5432/DBT1
125 rows affected.

[('Spells of Genesis', 2),
 ('Dose of Art', 2),
 ('Art Rumble', 1),
 ('Aliens Abduction', 1),
 ('Meteorite NFT', 1),
 ('Atollon Coral', 5),
 ('Minecraft Sphere', 3),
 ('Bling Bits', 1),
 ('United Crypto Token (UCT)', 7),
 ('Depressed Dragons', 1),
 ('Artificial Rocks', 3),
 ('Crypto Jackpot', 2),
 ('Light Embrace', 2),
 ('Crypto Kitties Of War', 2),
 ('Pink Sports Cars', 1),
 ('Cards of Polo', 2),
 ('Addictive Animals', 1),
 ('Visionary Crypto', 2),
 ('Animated Hard Art', 1),
 ('Lucky Lizards', 1),
 ('Bloom of Flowers', 7),
 ('Art Lover Box', 1),
 ('The Gold Betta', 2),
 ('Doge Pal', 3),
 ('Darker Clouds', 4),
 ('Digital Unicorns', 2),
 ('Digi Gods', 1),
 ('Token Watchdogs', 4),
 ('0NOCH0', 1),
 ('Wowoo World', 5),
 ('Crypto Felines', 2),
 ('Hilarious Horses', 3),
 ('Ultra Cool Dogs', 1),
 ('Crypto Pigeon Race', 4),
 ('Mint Chocolates', 2),
 ('Rainbows Ends', 2),
 ('1-Love', 1),
 ('Tokenized Superheroes', 2),
 ('Alice Wonderland Frozen Carolers', 3),
 ('Anna Frozen Entertainers', 2),
 ('Rich Rhinos', 4),
 ('Secret Stones', 3),
 ('Crypto Club', 3),
 ('Elite Fur Dog Race Club', 2),
 ('Crumbs NFT', 3),
 ('Crypto Art Gallery', 2),
 ('Mountain of Clouds', 1),
 ('Couch Potato', 2),
 ('Hive City', 3),
 ('Moonlit Butterfly', 4),
 ('Cryptokitty Ville', 2),
 ('Bee Token', 2),
 ('Crystalline Canyon', 2),
 ('Brush Point', 4),
 ('Reflected Light', 1),
 ('Outstanding Octopus', 1),
 ('Crypto Potluck', 2),
 ('Techno Abstract Aesthetics', 2),
 ('Thunder NFT', 3),
 ('Giant Coin', 1),
 ('Touchdown', 5),
 ('Funny Frogs', 2),
 ('Midas NFTs', 4),
 ('Calm Crows', 1),
 ('Crypto Punked', 3),
 ('Dark Horse Lady', 2),
 ('Dreamy Imaginations', 6),
 ('Crypto Diamonds', 2),
 ('Madame Witch', 1),
 ('Busy Bats', 3),
 ('Dapper Dinos', 1),
 ('Blizz Blizzard', 2),
 ('Crypto Raptors', 1),
 ('Pandamonium', 7),
 ('Crypto Boom', 1),
 ('Crypto Life', 2),
 ('Koala Kickers', 2),
 ('1NiTRO', 2),
 ('Krypto Queen', 1),
 ('Graceful Gorillas', 4),
 ('To The Moon', 1),
 ('NFT Lord', 2),
 ('Qat Tree Unicorn', 3),
 ('Fight Punks', 3),
 ('Mike Halloween Yodelers', 3),
 ('Koalas in Love', 2),
 ('Fair Coin', 1),
 ('Art Dodger', 2),
 ('Cryptonaut', 1),
 ('0NOZER0', 3),
 ('Burger Bits', 3),
 ('The Binary Girl', 2),
 ('The Teacup Pomeranian', 2),
 ('Flame Blade', 3),
 ('Non Fungible Nibbles', 5),
 ('Fantasy Token', 5),
 ('Cypherpunk Samurai', 1),
 ('Awesome Concept', 2),
 ('Ultimate League Of Paragon', 3),
 ('Crypto Potato', 1),
 ('Crypto Bunny Ranch', 3),
 ('Nova Auroras', 2),
 ('3D Me', 1),
 ('Fight For The Title', 1),
 ('Clumsy Crocodiles', 1),
 ('Rockin Crypto', 2),
 ('Phonetic Phoenix', 3),
 ('Flame Cats', 4),
 ('Headed Shark Attack', 1),
 ('Butterfly Dust', 2),
 ('Crypto Kitties', 1),
 ('Silver Lining Pixy', 2),
 ('Enthusiastic Elephants', 3),
 ('Arty Arts', 3),
 ('Clever Chimp', 1),
 ('Water Wiggle', 5),
 ('Blue Mood Chip', 3),
 ('Coin Dance', 3),
 ('Resilient Rats', 3),
 ('Artful Antlers', 2),
 ('Elephant Treasure Hunt', 5),
 ('Block View', 2),
 ('0xHile', 2),
 ('Ultimate Iconic Crypto (IUC)', 3),
 ('Bitsy', 2)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [14]:
%%sql
SELECT
    NFT.nombre AS "nombre", Tipos_NFT.nombre AS "Tipo"
FROM
    NFT INNER JOIN Tipos_NFT
ON
    NFT.id_tipo = Tipos_NFT.ID_tipo
WHERE
    NFT.ID_nft = (SELECT ID_nft FROM Precio_NFT WHERE precio = (SELECT MAX(precio) FROM Precio_NFT));

 * postgresql://postgres:***@localhost:5432/DBT1
1 rows affected.

[('Ultimate League Of Paragon', 'Pixel')]

### Consulta 4
**Nombre y apellido del usuario con más numero de NFT.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [3]:
%%sql
SELECT
    Usuarios.nombre, Usuarios.apellido
FROM
    Usuarios INNER JOIN Usuario_tiene_NFT
ON
    Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
INNER JOIN NFT
    ON Usuario_tiene_NFT.id_nft = NFT.ID_nft
WHERE
    Usuarios.ID_usuario = (
                            SELECT
                                 tem.vamos
                            FROM (
                                SELECT
                                    Usuarios.ID_usuario AS vamos, COUNT(NFT.ID_nft) AS conteo
                                FROM
                                    Usuarios INNER JOIN Usuario_tiene_NFT
                                ON
                                    Usuarios.ID_usuario = Usuario_tiene_NFT.id_usuario
                                INNER JOIN NFT
                                    ON Usuario_tiene_NFT.id_nft = NFT.ID_nft
                                GROUP BY
                                    Usuarios.ID_usuario
                                ) AS tem
                            ORDER BY
                                conteo DESC
                            LIMIT
                                1
                            )
LIMIT
    1;

1 rows affected.

[('Marion', 'Brewer')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _Escriba aquí la descripción de su solución._

In [24]:
%%sql
SELECT
    NFT.ID_nft AS "ID", NFT.nombre AS "NFT"
FROM
    NFT
WHERE
    NFT.ID_nft = (
        SELECT
            tem.ID
        FROM (
            SELECT
                NFT.ID_nft AS ID, MAX(Precio_NFT.precio)-MIN(Precio_NFT.precio) AS Cambioprecio
            FROM
                Precio_NFT INNER JOIN NFT
            ON
                Precio_NFT.ID_nft = NFT.ID_nft
            WHERE
                fecha BETWEEN '2016-01-01' AND '2016-12-31'
            GROUP BY
                NFT.ID_nft
            ORDER BY
                Cambioprecio DESC
        ) AS tem
        LIMIT
            1
    );

 * postgresql://postgres:***@localhost:5432/DBT1
1 rows affected.

[(48, 'Elephant Treasure Hunt')]

### Consulta 6
**Usuarios que NO tienen un nft.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Dias |
|Markus | Person |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [29]:
%%sql
SELECT
    Usuarios.nombre AS "Nombre", Usuarios.apellido AS "Apellido"
FROM
    Usuarios
WHERE
    Usuarios.ID_usuario NOT IN (
        SELECT
            Usuario_tiene_NFT.id_usuario
        FROM
            Usuario_tiene_NFT
    );

 * postgresql://postgres:***@localhost:5432/DBT1
131 rows affected.

[('Tracie', 'Goodrich'),
 ('Herman', 'King'),
 ('Wendy', 'Dixon'),
 ('Suzanne', 'Hendricks'),
 ('Beverly', 'Davis'),
 ('Patricia', 'Bogdon'),
 ('Susan', 'Brooks'),
 ('Gloria', 'Grady'),
 ('Luz', 'Carter'),
 ('Dan', 'Stephens'),
 ('William', 'Sandlin'),
 ('Andrew', 'Clay'),
 ('Sara', 'Wilson'),
 ('Ellsworth', 'Dodge'),
 ('Wade', 'Brooks'),
 ('Michael', 'Strode'),
 ('Orlando', 'Simonson'),
 ('Christine', 'Collier'),
 ('Nathan', 'Lindemann'),
 ('Linda', 'Harmon'),
 ('Anthony', 'Lehrke'),
 ('Charles', 'Stephens'),
 ('Mario', 'Joshua'),
 ('George', 'Bravo'),
 ('Patsy', 'Kesterson'),
 ('Christine', 'Guetersloh'),
 ('Rose', 'Rolland'),
 ('Venessa', 'Patterson'),
 ('Carmen', 'Johnson'),
 ('Patty', 'Sayer'),
 ('Thomas', 'Blanton'),
 ('Timothy', 'Levin'),
 ('Jeremy', 'Mckinney'),
 ('Juanita', 'Reyes'),
 ('Fred', 'Saar'),
 ('Anton', 'Davis'),
 ('Steven', 'Roe'),
 ('Angelo', 'Henry'),
 ('Teresa', 'Hillman'),
 ('Charles', 'Mullins'),
 ('Simon', 'Thompkins'),
 ('Janet', 'Albin'),
 ('Theresa', 'Harper'),
 ('Tammy', 'Thayer'),
 ('Shelli', 'Hawkins'),
 ('Tom', 'Kao'),
 ('Thurman', 'Coffman'),
 ('Darrell', 'Stringfield'),
 ('George', 'Fisher'),
 ('Kristen', 'Tatom'),
 ('Damien', 'Brand'),
 ('Raymond', 'Alday'),
 ('Ronald', 'Cook'),
 ('Janette', 'Dahl'),
 ('Debra', 'Perrigo'),
 ('Christopher', 'Barker'),
 ('Arnold', 'Pry'),
 ('Mamie', 'Stephens'),
 ('Lonnie', 'Allison'),
 ('Ida', 'Niederkorn'),
 ('Houston', 'Gaines'),
 ('Eric', 'Shaw'),
 ('Andrew', 'Goines'),
 ('Ruby', 'Nunes'),
 ('Darin', 'Sung'),
 ('Marla', 'Omersa'),
 ('Randal', 'Ridgeway'),
 ('Mark', 'Azar'),
 ('Steven', 'Davis'),
 ('John', 'Linnane'),
 ('Rosa', 'Watts'),
 ('Frederick', 'Smyth'),
 ('Letha', 'Roberts'),
 ('David', 'Lyons'),
 ('Jimmy', 'Dotson'),
 ('Kevin', 'Miller'),
 ('Andrea', 'Hughes'),
 ('Israel', 'Wood'),
 ('Karen', 'Shadle'),
 ('Paula', 'Cooper'),
 ('Aida', 'Sellers'),
 ('Joseph', 'Schumacher'),
 ('Richard', 'Mcjunkin'),
 ('Michael', 'Shaw'),
 ('Jesse', 'Bell'),
 ('Carroll', 'Everson'),
 ('Erik', 'Rubio'),
 ('Robin', 'Humes'),
 ('James', 'Rottenberg'),
 ('Doreen', 'Behn'),
 ('Angel', 'Fink'),
 ('Julie', 'Simonis'),
 ('Charles', 'Ferguson'),
 ('Shelly', 'Shilkuski'),
 ('Nancy', 'Fishman'),
 ('Janet', 'Welch'),
 ('Lisa', 'Shick'),
 ('Florence', 'Sampson'),
 ('Sharon', 'Fisher'),
 ('Michael', 'Escalante'),
 ('Thomas', 'Denmon'),
 ('Anthony', 'Searcy'),
 ('Frieda', 'Thompson'),
 ('Barbara', 'Parker'),
 ('Tammy', 'Cacy'),
 ('Gretchen', 'Yoes'),
 ('Anthony', 'Newell'),
 ('Brenda', 'Schatzman'),
 ('Michael', 'Lake'),
 ('Janet', 'Buresh'),
 ('Lilian', 'Scott'),
 ('Rose', 'Emery'),
 ('Annie', 'Bates'),
 ('Douglas', 'Wright'),
 ('Eric', 'Duncan'),
 ('Christina', 'Carnes'),
 ('Mary', 'Smith'),
 ('William', 'Longo'),
 ('William', 'Day'),
 ('Eduardo', 'Steinbach'),
 ('Carolyn', 'Schell'),
 ('Kelvin', 'Gomes'),
 ('Angelo', 'Warner'),
 ('Arlene', 'Biddle'),
 ('Anita', 'Proulx'),
 ('Ronald', 'Leonard'),
 ('Paul', 'Price'),
 ('Kevin', 'Foulk'),
 ('Jaime', 'Juarez'),
 ('Charles', 'Downer'),
 ('Melissa', 'Swalley')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [36]:
%%sql
SELECT
    NFT.nombre AS "NFT"
FROM
    Tipos_NFT INNER JOIN NFT
ON
    Tipos_NFT.ID_tipo = NFT.id_tipo
INNER JOIN Precio_NFT
    ON NFT.ID_nft = Precio_NFT.ID_nft
WHERE
    Tipos_NFT.ID_tipo = 7
ORDER BY
    Precio_NFT.precio DESC
LIMIT
    4;

 * postgresql://postgres:***@localhost:5432/DBT1
4 rows affected.

[('Brush Point',), ('Atollon Coral',), ('Brush Point',), ('Rich Rhinos',)]

### Consulta 8
**Los precios de todos los NFT entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [39]:
%%sql
SELECT
    NFT.nombre AS "NFT", Precio_NFT.precio AS "Precio"
FROM
    NFT INNER JOIN Precio_NFT
ON
    NFT.ID_nft = Precio_NFT.ID_nft
WHERE
    Precio_NFT.fecha BETWEEN '2017-01-01' AND '2019-12-31';

 * postgresql://postgres:***@localhost:5432/DBT1
113 rows affected.

[('Fantasy Token', 6582),
 ('United Crypto Token (UCT)', 30316),
 ('Fight Punks', 85347),
 ('0xHile', 49983),
 ('Midas NFTs', 47724),
 ('Bling Bits', 26212),
 ('Art Rumble', 70260),
 ('Madame Witch', 62150),
 ('Flame Cats', 51647),
 ('Darker Clouds', 24547),
 ('0NOCH0', 88169),
 ('Butterfly Dust', 17915),
 ('Bitsy', 943),
 ('Crypto Potluck', 38107),
 ('Phonetic Phoenix', 91579),
 ('Rockin Crypto', 66505),
 ('Addictive Animals', 33647),
 ('Midas NFTs', 15910),
 ('The Gold Betta', 45601),
 ('The Binary Girl', 56019),
 ('Elephant Treasure Hunt', 75136),
 ('Blizz Blizzard', 25736),
 ('Doge Pal', 43116),
 ('Pandamonium', 32742),
 ('Funny Frogs', 11738),
 ('Non Fungible Nibbles', 98775),
 ('Atollon Coral', 32510),
 ('Crumbs NFT', 67905),
 ('Spells of Genesis', 48805),
 ('Non Fungible Nibbles', 48504),
 ('Pandamonium', 96271),
 ('Arty Arts', 82646),
 ('Rockin Crypto', 27556),
 ('Fantasy Token', 6203),
 ('Alice Wonderland Frozen Carolers', 61013),
 ('Water Wiggle', 42480),
 ('Couch Potato', 82377),
 ('Crypto Punked', 1988),
 ('Crypto Art Gallery', 83165),
 ('Elite Fur Dog Race Club', 23189),
 ('3D Me', 19657),
 ('Elephant Treasure Hunt', 67224),
 ('Touchdown', 63361),
 ('Meteorite NFT', 53863),
 ('Crypto Pigeon Race', 82727),
 ('Crumbs NFT', 98809),
 ('Non Fungible Nibbles', 79612),
 ('Crystalline Canyon', 8561),
 ('Fantasy Token', 72240),
 ('Lucky Lizards', 33530),
 ('Bee Token', 15724),
 ('Tokenized Superheroes', 87560),
 ('Rainbows Ends', 36567),
 ('Blue Mood Chip', 74407),
 ('Hilarious Horses', 72063),
 ('Graceful Gorillas', 81012),
 ('Phonetic Phoenix', 63639),
 ('United Crypto Token (UCT)', 57610),
 ('Techno Abstract Aesthetics', 84955),
 ('Crypto Bunny Ranch', 62541),
 ('Blizz Blizzard', 68919),
 ('Resilient Rats', 96959),
 ('Bloom of Flowers', 53731),
 ('Visionary Crypto', 65909),
 ('1NiTRO', 73646),
 ('Art Lover Box', 77262),
 ('Cryptonaut', 69899),
 ('Graceful Gorillas', 45523),
 ('Mint Chocolates', 93145),
 ('Rich Rhinos', 75863),
 ('Clever Chimp', 85073),
 ('NFT Lord', 24291),
 ('Touchdown', 47490),
 ('Ultra Cool Dogs', 19932),
 ('Koala Kickers', 38832),
 ('Block View', 30157),
 ('Busy Bats', 88594),
 ('Animated Hard Art', 95482),
 ('Bloom of Flowers', 56736),
 ('Wowoo World', 49337),
 ('Flame Blade', 79977),
 ('Busy Bats', 59889),
 ('Minecraft Sphere', 92420),
 ('Crypto Life', 88308),
 ('Flame Blade', 16021),
 ('Busy Bats', 23385),
 ('Alice Wonderland Frozen Carolers', 63918),
 ('United Crypto Token (UCT)', 47707),
 ('Burger Bits', 93877),
 ('Block View', 89604),
 ('0NOZER0', 13076),
 ('Elite Fur Dog Race Club', 55984),
 ('Artificial Rocks', 9570),
 ('The Gold Betta', 73660),
 ('Awesome Concept', 56769),
 ('Bloom of Flowers', 17267),
 ('Pandamonium', 52206),
 ('Hive City', 14976),
 ('Cypherpunk Samurai', 99047),
 ('Pandamonium', 33545),
 ('Darker Clouds', 94490),
 ('Visionary Crypto', 82450),
 ('Mike Halloween Yodelers', 90179),
 ('Moonlit Butterfly', 93646),
 ('Ultimate League Of Paragon', 22756),
 ('Graceful Gorillas', 43290),
 ('Bitsy', 41019),
 ('Crypto Pigeon Race', 5237),
 ('0NOZER0', 59002),
 ('Dreamy Imaginations', 8482),
 ('Phonetic Phoenix', 59874),
 ('Midas NFTs', 45320),
 ('Hive City', 87339)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [32]:
%%sql
SELECT
    NFT.nombre, Precio_NFT.precio
FROM
    NFT INNER JOIN Precio_NFT
ON
    NFT.ID_nft = Precio_NFT.ID_nft
WHERE
    (NFT.ID_nft, Precio_NFT.precio) IN (
        SELECT
            NFT.ID_nft, Precio_NFT.precio AS Precio
        FROM
            NFT INNER JOIN Precio_NFT
        ON
            NFT.ID_nft = Precio_NFT.ID_nft
        WHERE
            (NFT.ID_nft, Precio_NFT.fecha) IN (
                SELECT
                    NFT.ID_nft, MAX(Precio_NFT.fecha)
                FROM
                    NFT INNER JOIN Precio_NFT
                ON
                    NFT.ID_nft = Precio_NFT.ID_nft
                WHERE
                    NFT.ID_creador = 8
                GROUP BY
                    NFT.ID_nft
            ) AND NFT.ID_creador = 8
        ORDER BY
            Precio DESC
        LIMIT
            1
    ) AND NFT.ID_creador = 8;

 * postgresql://postgres:***@localhost:5432/DBT1
1 rows affected.

[('Ultimate League Of Paragon', 99731)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._